{% extends 'houses/layout/base_houses.html' %}
{% load static %}
{% block title %}
    Лицевой счет
{% endblock %}
{% block css %}

    <link rel="stylesheet" href="{% static 'content/css/content_css.css' %}" type="text/css">
{% endblock %}
{% block css_after %}
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'houses/css/houses.css' %}">
{% endblock %}
{% block content %}
    <input type="hidden" id="link-id" value="personal_account">
    <section class="content-header" style="position: relative; display: block!important; border-bottom: 1px solid #d2d6de">
        <h1 style="color: #444; font-size: 24px">Лицевой счет
        </h1>
        <ul class="breadcrumb" style="float:right;background: transparent!important; margin-top: 0!important;
        margin-bottom: 0!important; font-size: 12px!important; position: absolute!important;
        top: 15px!important; right: 15px!important; border-radius: 2px!important;">
            <li><a href="{% url 'houses:main' %}" style="color: #444; text-decoration: none"><i class="fa fa-home" style="margin-right: 5px"></i> Главная</a></li>
            <li style="padding: 0 0 0 10px; color: #777;"><a href="{% url 'crm_accounting:account_list' %}" style="color: #444; text-decoration: none"> <span style="color: #ccc; margin-right: 5px" >></span> Лицевые счета </a></li>
            <li class="active" style="padding: 0 0 0 10px; color: #777;"> <span style="color: #ccc; margin-right: 5px" >></span> Лицевой счет №{{ object.account_number }} </li>
        </ul>
    </section>
    <!-- content -->
    <section class="content content-custom" >

        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                <div class="box-header" style="position: relative; height: 42px">
                    <h3 class="box-title">Просмотр лицевого счета</h3>
                    <div class="box-tools">
                            <a style="height: 31px" href="{% url 'crm_accounting:transaction_create' %}?flat_id={{ object.flat.id }}&type=in" class="btn btn-default btn-sm">
                    <span class="hidden-xs"><i class="fa fa-dollar"></i> Принять платеж</span>
                </a>
                <a style="height: 31px" href="{% url 'crm_accounting:invoice_create' %}?personal_account={{ object.id }}" class="btn btn-default btn-sm">
                    <span class="hidden-xs"><i class="fa fa-files-o"></i> Оформить квитанцию</span>
                </a>
                        <a href="{% url 'crm_accounting:account_update' object.id %}" class="btn btn-tariff btn-sm">
                <span class="hidden-xs">Редактировать счет</span>
            </a>
        </div>
                </div>
                    <div class="box-body row">
                    <div class="col-sm-12 col-lg-12">
                        <table class="table table-bordered table-striped table-view" >
                    <tbody>
                        <tr>
                            <td class="user-label">Статус</td>
                            <td style="width: 60%">
                                {% if object.status == 'active' %}
                                    <small class="label label-success">Активен</small>
                                    {% elif object.status == 'nonactive' %}
                                    <small class="label label-danger">Неактивен</small>
                                    {% else %}
                                    Не выбран
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="user-label">Дом</td>
                            <td>
                                {% if object.house %}
                                    <a class="link-list" href="{% url 'houses:house_detail' object.house.id %}">
                                    {{ object.house }}
                                {% else %}
                                        Не выбран
                                {% endif %}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="user-label">Секция</td>
                            {% if object.section %}
                                <td>{{ object.section }}</td>
                                {% else %}
                                <td>Не указано</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="user-label">Квартира</td>
                            {% if object.flat %}
                            <td><a class="link-list" href="{% url 'houses:flat_detail' object.flat.id %}">{{ object.flat.number }}</a></td>
                            {% else %}
                            <td>Не привязана квартира</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="user-label">Владелец</td>
                            <td>
                            {% if object.flat.owner %}
                                <a class="link-list" href="{% url 'users:owner_detail' object.flat.owner.id %}">
                                    {{ object.flat.owner }}
                                </a>
                            {% else %}
                            Не привязана квартира
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="user-label">Остаток, грн.</td>
                                {% if object.balance > 0 %}
                                <td style="color: #00a65a;">
                                    {{ object.balance }}
                                </td>
                                    {% elif object.balance < 0 %}
                                <td style="color: orangered">
                                    {{ object.balance }}
                                </td>
                                    {% else %}
                                    <td>
                                    {{ object.balance }}
                                    </td>
                                {% endif %}
                        </tr>

                    </tbody>
                </table>
                    <div>
                    <p style="margin-bottom: 10px" ><a class="link-list" href="{% url 'crm_home:flat_counter_list' %}?flat_id={{ object.flat.id }}">Посмотреть показания счетчиков</a></p>
                    <p style="margin-bottom: 10px" ><a class="link-list" href="{% url 'crm_accounting:transaction_list' %}?account_id={{ object.id }}">Посмотреть приходы</a></p>
                    <p style="margin-bottom: 10px" ><a class="link-list" href="{% url 'crm_accounting:invoice_list' %}?flat_id={{ object.flat.id }}">Посмотреть квитанции</a></p>
                </div>
                    </div>
        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
{% endblock %}
