{% extends 'houses/layout/base_houses.html' %}
{% load static %}
{% block title %}
    Квартиры
{% endblock %}
{% block css %}

    <link rel="stylesheet" href="{% static 'content/css/content_css.css' %}" type="text/css">
{% endblock %}
{% block css_after %}
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'houses/css/houses.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/jquery.toast.css' %}" type="text/css">

{% endblock %}
{% block content %}

    <!-- MESSAGE FROM BACKEND-->
{% for message in messages %}
        {% if message.tags == 'success' %}
            <script src="{% static 'houses/plugins/jquery/jquery.js' %}"></script>
            <script src="{% static 'users/js/jquery.toast.js' %}"></script>
            <script>
                var MyToast =  $.toast({
                    heading: 'Success',
                    text: '{{ message }}',
                    showHideTransition: 'slide',
                    icon: 'success',
                    position: 'top-left'
                })
            </script>
        {% endif %}
    {% endfor %}
        <!-- MESSAGE FROM BACKEND-->

    <section class="content-header" style="position: relative; display: block!important; border-bottom: 1px solid #d2d6de">
        <h1 style="color: #444; font-size: 24px">Квартиры
        </h1>
        <ul class="breadcrumb" style="float:right;background: transparent!important; margin-top: 0!important;
        margin-bottom: 0!important; font-size: 12px!important; position: absolute!important;
        top: 15px!important; right: 15px!important; border-radius: 2px!important;">
            <li><a href="{% url 'houses:main' %}" style="color: #444; text-decoration: none"><i class="fa fa-home" style="margin-right: 5px"></i> Главная</a></li>
            <li class="active" style="padding: 0 0 0 10px; color: #777;"> <span style="color: #ccc; margin-right: 5px" >></span> Квартиры </li>
        </ul>
    </section>


    <!-- BUTTON ANN NEW USER -->
    <section class="content" style="padding-top: 15px">
    <div class="row">
        <div class="col-sm-12" style="text-align: right; padding: 0 15px">
            <a class="btn btn-success" href="{% url 'houses:flat_create' %}" style="width: auto">Добавить квартиру</a>
        </div>
    </div>
    </section>

    <!-- content -->
    <section class="content content-custom" >
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                <div class="box-header" style="text-align: right;">
                    <div class="box-tools" >
                    <a id="reset" class="btn btn-default">
                        <span class="hidden-xs">Очистить</span>
                    </a>
                </div>
                </div>
                    <div class="box-body" style="padding: 0">
                        <table id="flats" style="margin: 0; width: 100%" class="table table-bordered table-hover table-striped linkedRow">
                             <thead>
                                  <tr>
                                      <th tabindex="0"  rowspan="1" colspan="1" style="width: 10%; color: rgb(60, 141, 188);" >
                                          № квартиры
                                      </th>
                                      <th  tabindex="0"  rowspan="1" colspan="1" style="color: rgb(60, 141, 188);">
                                          Дом
                                      </th>
                                      <th  tabindex="0" rowspan="1" colspan="1"  style="color: rgb(60, 141, 188);">
                                          Секция
                                      </th>
                                      <th  tabindex="0" rowspan="1" colspan="1"  style="color: rgb(60, 141, 188);">
                                          Этаж
                                      </th>
                                      <th  tabindex="0" rowspan="1" colspan="1"  style="width: 30%; color: rgb(60, 141, 188);">
                                          Владелец
                                      </th>
                                      <th  tabindex="0" rowspan="1" colspan="1"  style=";">
                                          Остаток (грн)
                                      </th>
                                      <th></th>
                                  </tr>
                                    <tr>
                                            <th>
                                                <input type="text" id="flat" class="form-control" >
                                            </th>
                                            <th class="sort">
                                                <select name="house" id="house" class="form-select">
                                                    <option value=""></option>
                                                    {% for house in houses %}
                                                        <option value="{{ house.id }}">{{ house.title }}</option>
                                                    {% endfor %}
                                                </select>
                                            </th>
                                            <th class="sort">
                                                <select name="section" id="section" class="form-select">
                                                    <option value="">Выберите дом...</option>
                                                </select>
                                            </th>
                                            <th class="sort">
                                                <select name="floor" id="floor" class="form-select">
                                                    <option value="">Выберите дом</option>
                                                </select>
                                            </th>
                                            <th class="sort">
                                                <input type="text" id="o" class="form-control">
                                            </th>
                                            <th class="sort">
                                                <input type="text" id="owner" class="form-control">
                                            </th>
                                            <th class="sort">
                                            </th>

                                        </tr>
                                  </thead>
                                  <tbody>
                                    {% for object in object_list %}
                                        <tr data-href="{% url 'houses:house_detail' object.id %}" id="instance-{{ object.id }}">
                                            <td>{{ object.number }}</td>
                                            <td class="td-height">{{ object.house }}</td>
                                            <td class="td-height">{{ object.section }}</td>
                                            <td class="td-height">{{ object.floor }}</td>
                                            <td class="td-height">{{ object.owner }}</td>
                                            <td class="td-height">
                                                {% if object.personal_account  %}
                                                {{ object.personal_account.balance }}
                                                {% else %}
                                                    (Нет счета)
                                                {% endif %}
                                            </td>
                                            <td style="width: 10%">
                                                <div class="btn-group pull-right" >
                                                    <a class="btn btn-default btn-sm" href="{% url 'houses:house_update' object.id %}" title="Редактировать" data-toggle="tooltip">
                                                        <i class="fa fa-pencil"></i></a>
                                                    <a class="btn btn-default btn-sm btn-delete " id="{{ object.id }}" title="Удалить" data-toggle="tooltip" data-pjax="0" >
                                                        <i class="fa fa-trash " ></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                  </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>

    </div>
  <script>
  </script>
{% endblock %}
{% block script %}
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready( function CreateTable() {
        $('#flats').DataTable(
            {

                "order": [],
                "bInfo": false,
                "bSortCellsTop": true,
                "bPaginate": false,
                dom: 't',
                "language": {
                    "zeroRecords": "Ничего не найдено"
                  },
                "aoColumnDefs": [
                    { 'bSortable': false, 'targets': [5, 6] }
                    ]
            }
        );
        {#$('#house').on('keyup click', function () {#}
        {#    table.columns([1]).search($(this).val()).draw();#}
        {#d } );#}
        {#$('#address').on('keyup click', function () {#}
        {#    table.columns([2]).search($(this).val()).draw();#}
        {#3 })#}
    } );
    </script>
    <!-- AJAX -->
    <script>
        function delete_house(id) {
            $.ajax({
                url:`{% url 'houses:delete_house' %}`,
                type: 'get',
                data: {'id': id},
                success: (data) => {
                    if (data.success) {
                        $('#instance-' + id).css('display', 'none')
                    }
                },
                errors: (errors) => {
                    console.log(errors)
                }
            })
        }
    </script>

    <script>
    $(document).ready( function () {
        $('.odd').css('background-color', '#f9f9f9')
    })
    </script>
            <script src="{% static 'houses/js/houses.js' %}"></script>

{% endblock %}
