{% extends 'houses/layout/base_houses.html' %}
{% load static %}
{% block title %}
    Показания счетчика
{% endblock %}
{% block css %}

    <link rel="stylesheet" href="{% static 'content/css/content_css.css' %}" type="text/css">
{% endblock %}
{% block css_after %}
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'crm_home/css/counter_create.css' %}">

{% endblock %}
{% block content %}
    <section class="content-header" style="position: relative; display: block!important; border-bottom: 1px solid #d2d6de">
        <h1 style="color: #444; font-size: 24px"> Показания счетчика
        </h1>
        <ul class="breadcrumb" style="float:right;background: transparent!important; margin-top: 0!important;
        margin-bottom: 0!important; font-size: 12px!important; position: absolute!important;
        top: 15px!important; right: 15px!important; border-radius: 2px!important;">
            <li><a href="{% url 'houses:main' %}" style="color: #444; text-decoration: none"><i class="fa fa-home" style="margin-right: 5px"></i> Главная</a></li>
            <li class="active" style="padding: 0 0 0 10px; color: #777;"><a href="{% url 'crm_home:counter_data_list' %}" style="color: #444; text-decoration: none">
                <span style="color: #ccc; margin-right: 5px" >></span> Счетчики
                </a>
            </li>
            <li style="padding: 0 0 0 10px; color: #777;"><span style="color: #ccc; margin-right: 5px" >></span> Показание счетчика №{{ object.number }}</li>
        </ul>
    </section>
    <form method="post" style="padding:15px">
        {% csrf_token %}
    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-6">
            <div class="page-header-spec" style="align-items: normal; margin-bottom: 0">
                <div class="form-group" style="margin-bottom: 0; width: 45%">
                    <div class="input-group">
                        <div class="input-group-addon">
                            №
                        </div>
                        <div class="input-group-addon" style="width:75%; text-align: left">
                            {{ object.number }}
                        </div>
                    </div>
                </div>
                <span class="label-mid" style="vertical-align: center; padding-top: 8px;margin: 0 auto; font-size: 14px">
                    от
                </span>
                <div class="form-group" style="width: 45%">
                    <div class="input-group" >
                        <div class="input-group-addon" style="width:75%; text-align: left">
                            {{ object.date|date:'d.m.Y' }}
                        </div>
                        <div class="input-group-addon">
                            <i class='fa fa-calendar' ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content -->
    <section class="content content-custom" >

        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-body">
<div class="box-header" style="position: relative; height: 42px; padding: 0!important; text-align: right">
                    <div class="box-tools">
                        <a href="{% url 'crm_home:counter_data_update' object.id %}" class="btn btn-tariff btn-sm">
                <span class="hidden-xs">Редактировать показания</span>
            </a>
        </div>
                </div>
                                <div class="col-sm-12 col-lg-4">
                        <table class="table table-bordered table-striped table-view" >
                    <tbody>
                        <tr>
                            <td class="user-label">Счетчик</td>
                            <td style="width: 60%">
                                {{ object.service }}
                            </td>
                        </tr>
                        <tr>
                            <td class="user-label">Дом</td>
                            <td>
                                <a class="link-list" href="{% url 'houses:house_detail' object.house.id %}">
                                {{ object.house }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="user-label">Секция</td>
                            {% if object.section %}
                                <td>{{ object.section }}</td>
                                {% else %}
                                <td>Не указано</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="user-label">Квартира</td>
                            {% if object.flat %}
                            <td><a class="link-list" href="{% url 'houses:flat_detail' object.flat.id %}">{{ object.flat.number }}</a></td>
                            {% else %}
                            <td>Не привязана квартира</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="user-label">Владелец</td>
                            <td>
                            {% if object.flat.owner %}
                                <a class="link-list" href="{% url 'users:owner_detail' object.flat.owner.id %}">
                                    {{ object.flat.owner }}
                                </a>
                            {% else %}
                            Не привязана квартира
                            {% endif %}
                        </td>
                        </tr>
                        <tr>
                            <td class="user-label">Текущие показания</td>
                            <td style="width: 60%">
                                {{ object.data }}
                            </td>
                        </tr>
                        <tr>
                            <td class="user-label">Ед. изм.</td>
                            <td style="width: 60%">
                                {{ object.service.unit }}
                            </td>
                        </tr>
                        <tr>
                            <td class="user-label">Статус</td>
                                <td>
                                {% if object.status == 'Новое' %}
                                    <small class="label label-success">{{ object.status }}</small>
                                    {% elif object.status == 'Учтено' %}
                                    <small class="label label-warning">{{ object.status }}</small>
                                    {% elif object.status == 'Учтено и оплачено' %}
                                    <small class="label label-danger">{{ object.status }}</small>
                                    {% elif object.status == 'Нулевое' %}
                                    <small class="label label-null">{{ object.status }}</small>
                                    {% else %}
                                    Не выбран
                                {% endif %}
                                    </td>
                        </tr>

                    </tbody>
                </table>

                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </form>
    <div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'crm_accounting/js/account_create.js' %}"></script>
{% endblock %}
