{% extends 'houses/layout/base_houses.html' %}
{% load static %}
{% block title %}
    Редактирование страницы
{% endblock %}
{% block css %}

    <link rel="stylesheet" href="{% static 'content/css/content_css.css' %}" type="text/css">
{% endblock %}
{% block css_after %}
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'users/css/users_create.css' %}">
{% endblock %}
{% block content %}
    <section class="content-header" style="position: relative; display: block!important; border-bottom: 1px solid #d2d6de">
        <h1 style="color: #444; font-size: 24px">Пользователь
        </h1>
        <ul class="breadcrumb" style="float:right;background: transparent!important; margin-top: 0!important;
        margin-bottom: 0!important; font-size: 12px!important; position: absolute!important;
        top: 15px!important; right: 15px!important; border-radius: 2px!important;">
            <li><a href="{% url 'houses:main' %}" style="color: #444; text-decoration: none"><i class="fa fa-home" style="margin-right: 5px"></i> Главная</a></li>
            <li style="padding: 0 0 0 10px; color: #777;"><a href="{% url 'users:users' %}" style="color: #444; text-decoration: none">> <span style="color: #ccc; margin-right: 5px" >></span> Пользователи </a></li>
            <li class="active" style="padding: 0 0 0 10px; color: #777;"> <span style="color: #ccc; margin-right: 5px" >></span> Пользователь </li>

        </ul>
    </section>
    <!-- content -->
    <section class="content content-custom" >

        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                <div class="box-header" style="position: relative; height: 42px">
                        <a class="btn btn-tariff" href="{% url 'users:user_update' object.id %}" style="height: 30px; position: absolute; top: 5px; right: 8px;">Редактировать пользователя</a>
                    </a>
                </div>
                    <div class="box-body">
                    <div class="col-sm-12 col-lg-4">
                        <table class="table table-bordered table-striped table-view" >
                    <tbody>
                        <tr>
                            <td class="user-label">Пользователь</td>
                            <td>{{ object.first_name }} {{ object.last_name }}</td>
                        </tr>
                        <tr>
                            <td class="user-label">Роль</td>
                            <td>{{ object.role }}</td>
                        </tr>
                        <tr>
                            <td class="user-label">Телефон</td>
                            {% if object.phone %}
                                <td>{{ object.phone }}</td>
                                {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="user-label">Email(логин)</td>
                            <td>{{ object.email }}</td>
                        </tr>
                        <tr>
                            <td class="user-label">Статус</td>
                            <td>
                                {% if object.status == "Активен" %}
                                    <small class="label label-success">{{ object.status }}</small>
                                {% elif object.status == "Новый" %}
                                    <small class="label label-warning">{{ object.status }}</small>
                                {% else %}
                                    <small class="label label-danger">{{ object.status }}</small>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                    </div>
        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
        <script src="{% static 'users/js/user_create.js' %}"></script>
{% endblock %}
