{% extends 'houses/layout/base_houses.html' %}
{% load static %}
{% block title %}
    Пользователи
{% endblock %}
{% block css %}

    <link rel="stylesheet" href="{% static 'content/css/content_css.css' %}" type="text/css">
{% endblock %}
{% block css_after %}
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'users/css/user_list.css' %}">
{% endblock %}
{% block content %}
                        <input type="hidden" id="link-id" value="settings-link">

    {% if messages %}
            <script src="{% static 'houses/plugins/jquery/jquery.js' %}"></script>
            <script src="{% static 'users/js/jquery.toast.js' %}"></script>
        {% for message in messages %}
            {% if message.tags == 'success' %}
            <script>
                var MyToast =  $.toast({
                    heading: 'Success',
                    text: '{{ message }}',
                    showHideTransition: 'slide',
                    icon: 'success',
                    position: 'top-left'
                })
            </script>
                {% else %}
                <script>
                var MyToast =  $.toast({
                    heading: 'Error',
                    text: '{{ message }}',
                    showHideTransition: 'slide',
                    icon: 'error',
                    position: 'top-left'
                })
            </script>
        {% endif %}
        {% endfor %}

    {% endif %}

    <section class="content-header" style="position: relative; display: block!important; border-bottom: 1px solid #d2d6de">
        <h1 style="color: #444; font-size: 24px">Пользователи
        </h1>
        <ul class="breadcrumb" style="float:right;background: transparent!important; margin-top: 0!important;
        margin-bottom: 0!important; font-size: 12px!important; position: absolute!important;
        top: 15px!important; right: 15px!important; border-radius: 2px!important;">
            <li><a href="{% url 'houses:main' %}" style="color: #444; text-decoration: none"><i class="fa fa-home" style="margin-right: 5px"></i> Главная</a></li>
            <li class="active" style="padding: 0 0 0 10px; color: #777;"> <span style="color: #ccc; margin-right: 5px" >></span> Пользователи</li>
        </ul>
    </section>


    <!-- BUTTON ANN NEW USER -->
    <section class="content" style="padding-top: 15px">
    <div class="row">
        <div class="col-sm-12" style="text-align: right; padding: 0 15px">
            <a class="btn btn-success" href="{% url 'users:user_create' %}" style="width: auto">Создать пользователя</a>
        </div>
    </div>
    </section>

    <!-- content -->
    <section class="content content-custom" >
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                <div class="box-header" style="text-align: right;">
                    <div class="box-tools" >
                    <a id="reset" class="btn btn-default">
                        <span class="hidden-xs">Очистить</span>
                    </a>
                </div>
                </div>
                    <div class="box-body" style="padding: 0">
                        <table id="users" style="margin: 0; width: 100%" class="table table-bordered table-hover table-striped linkedRow">
                             <thead>
                                  <tr>
                                      <th tabindex="0" aria-controls="users" rowspan="1" colspan="1" >
                                          #
                                      </th>
                                      <th  tabindex="0" aria-controls="users" rowspan="1" colspan="1">
                                          Пользователь
                                      </th>
                                      <th tabindex="0" aria-controls="users" rowspan="1" colspan="1"  style="width: 15%">
                                          Роль
                                      </th>
                                      <th  tabindex="0" aria-controls="users" rowspan="1" colspan="1" >
                                          Телефон
                                      </th>
                                      <th tabindex="0" aria-controls="users" rowspan="1" colspan="1">
                                          Email(логин)
                                      </th>
                                      <th tabindex="0" aria-controls="users" rowspan="1" colspan="1" >
                                          Статус
                                      </th>
                                      <th tabindex="0" aria-controls="users" rowspan="1" colspan="1" >
                                      </th>
                                  </tr>
                                    <tr>
                                            <th></th>
                                            <th><input type="text" id="user" class="form-control" ></th>
                                            <th>
                                                <select name="roles" id="role" class="form-select-sm" style="font-size: 16px">
                                                    <option value=""></option>
                                                    {% for role in roles %}
                                                        <option value="{{ role.id }}">{{ role.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </th>
                                            <th><input type="text" id="phone" class="form-control"></th>
                                            <th><input type="text" id="email" class="form-control"></th>
                                            <th>
                                                <select name="roles" id="status" class="form-select-sm" style="font-size: 16px">
                                                    <option value=""></option>
                                                    <option value="Активен">Активен</option>
                                                    <option value="Новый">Новый</option>
                                                    <option value="Отключен">Отключен</option>

                                                </select>
                                            </th>
                                            <th></th>
                                        </tr>
                                  </thead>
                                  <tbody>

                                  </tbody>
                        </table>
                        <div class="empty" id="empty" style="height: 40px; padding: 10px 20px; display: none; background-color: #f9f9f9">Ничего не найдено.</div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>

    </div>
  <script>
  </script>
{% endblock %}
{% block script %}
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready( function CreateTable() {
        var table = $('#users').DataTable(
            {
                "order": [],
                "bSortCellsTop": true,
                "bFilter": false,
                 "iDisplayLength": 10,
                "lengthChange": false,
                {#dom: 't',#}
                "language": {
                    "zeroRecords": "Ничего не найдено",
                    "info": "Количество пользователей:  _MAX_",
                    'infoFiltered': '',
                    "infoEmpty": "",
                    "paginate": {
                        "next":       "След.",
                        "previous":   "Пред."
                    },
                  },
                "aoColumnDefs": [
                    { 'bSortable': false, 'targets': [0, 1, 2, 3, 4, 5, 6] },
                    ],
                "fnServerParams": function ( aoData ) {
                      aoData.push(
                          { "name": 'user', "value": $('#user').val() },
                          { "name": 'role', "value": $('#role').val() },
                          { "name": 'phone', "value": $('#phone').val() },
                          { "name": 'email', "value": $('#email').val() },
                          { "name": 'status', "value": $('#status').val() },
                      );
                },
                processing: true,
                serverSide: true,
                sAjaxSource: "{% url 'users:ajax-users' %}",
                columns: [
                    {name: "id", data: 0},
                    {name: "user_names", data: null, render: function (data, type, row) {
                        var allNames = row[1] + ' ' + row[2];
                        return allNames
                        }},
                    {name: "role", data: 3},
                    {name: "phone", data: 4},
                    {name: "email", data: 5},
                    {name: "status", data: null, render: function (data, type, row) {
                            console.log(row[1])
                        if (row[6] === 'Активен') {
                            this.data = `<small class="label label-success">${row[6]}</small>`
                        } else if (row[6] === 'Отключен') {
                            this.data = `<small class="label label-danger">${row[6]}</small>`
                        } else if (row[6] === 'Новый') {
                            this.data = `<small class="label label-warning">${row[6]}</small>`
                        } else {
                            this.data = "Не выбран"
                        }
                            return this.data
                        }},
                    {name: 'link', data: null, render: function (data, type, row){
                            var url = 'update';

                            return '<div class="btn-group pull-right" >'+
                                '<a class="btn btn-default btn-sm" href="invite/'+ row[0] +'" title="Отправить приглашение" name="'+ row[0] + '" data-toggle="tooltip"><i class="fa fa-repeat"></i></a>' +
                                '<a class="btn btn-default btn-sm" href="update/'+row[0]+'" title="Редактировать">'+
                                '<i class="fa fa-pencil"></i></a>'+
                                '<a class="btn btn-default btn-sm btn-delete" onclick="delete_flat(event, this)" id="'+row[7]+'" title="Удалить">'+
                                '<i class="fa fa-trash " ></i></a></div>'
                        }}
                ],
                "createdRow": function( row, data, dataIndex ) {
                    var url = 'detail/'+data[0]
                    $(row).attr( 'data-href', url );
                    $(row).on("click", function() {
                        document.location = $(this).data('href');
                        });
            }
            });
        $('#user').on('change blur clear', function () {
            table.columns(1).search($(this).val()).draw();
        } );
        $('#role').on('change blur clear', function () {
            table.columns([2]).search($(this).val()).draw();
        });
        $('#phone').on('change blur clear', function () {
            table.columns([3]).search($(this).val()).draw();
        });
        $('#email').on('change blur clear', function () {
            table.columns([4]).search($(this).val()).draw();
        });
        $('#status').on('change blur clear', function () {
            table.columns([5]).search($(this).val()).draw();
        });
    });
    </script>
    <!-- AJAX -->


    <script>
    $(document).ready( function () {
        $('.odd').css('background-color', '#f9f9f9')
    })
    </script>
    <script>
     function cannot_delete(event) {
         alert('Вы не можете удалить суперпользователя!')
         event.stopPropagation()
     }
    </script>
            <script src="{% static 'users/js/user_list.js' %}"></script>

{% endblock %}
