{% extends 'content/layout/base.html' %}
{% load  static %}

{% block title %}Сайт Управляющей компании ЖКХ - "МОЙ ДОМ 24"{% endblock %}

{% block content %}

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
        {% if main_page.slide1 %}
            <div class="slideTitle">{{ main_page.header }}</div>
            <img class="d-block w-100" src="{{ main_page.slide1.url }}" style="height: 600px" alt="First slide">
        {% else %}
            <img class="d-block w-100" src="{% static 'content/img/empty.jpeg' %}" alt="First slide">
        {% endif %}
    </div>
    <div class="carousel-item">
      {% if main_page.slide2 %}
            <div class="slideTitle">{{ main_page.header }}</div>
            <img class="d-block w-100" src="{{ main_page.slide2.url }}" style="height: 600px" alt="First slide">
        {% else %}
            <img class="d-block w-100" src="{% static 'content/img/empty.jpeg' %}" alt="2 slide">
        {% endif %}
    </div>
    <div class="carousel-item">
      {% if main_page.slide3 %}
          <div class="slideTitle">{{ main_page.header }}</div>
            <img class="d-block w-100" src="{{ main_page.slide3.url }}" style="height: 600px" alt="First slide">
        {% else %}
            <img class="d-block w-100" src="{% static 'content/img/empty.jpeg' %}" alt="3 slide">
        {% endif %}
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


{#<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">#}
{#  <ol class="carousel-indicators">#}
{#    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>#}
{#    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>#}
{#    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>#}
{#  </ol>#}
{#  <div class="carousel-inner">#}
{#    <div class="carousel-item active">#}
{#        {% if main_page.slide1 %}#}
{#            <div class="slideTitle">{{ main_page.header }}</div>#}
{#            <img class="d-block w-100" src="{{ main_page.slide1.url }}" style="height: 600px" alt="First slide">#}
{#        {% else %}#}
{#            <img class="d-block w-100" src="{% static 'content/img/empty.jpeg' %}" alt="First slide">#}
{#        {% endif %}#}
{#    </div>#}
{#    <div class="carousel-item">#}
{#      {% if main_page.slide2 %}#}
{#            <div class="slideTitle">{{ main_page.header }}</div>#}
{#            <img class="d-block w-100" src="{{ main_page.slide2.url }}" style="height: 600px" alt="First slide">#}
{#        {% else %}#}
{#            <img class="d-block w-100" src="{% static 'content/img/empty.jpeg' %}" alt="2 slide">#}
{#        {% endif %}#}
{#    </div>#}
{#    <div class="carousel-item">#}
{#      {% if main_page.slide3 %}#}
{#          <div class="slideTitle">{{ main_page.header }}</div>#}
{#            <img class="d-block w-100" src="{{ main_page.slide3.url }}" style="height: 600px" alt="First slide">#}
{#        {% else %}#}
{#            <img class="d-block w-100" src="{% static 'content/img/empty.jpeg' %}" alt="3 slide">#}
{#        {% endif %}#}
{#    </div>#}
{#  </div>#}
{#  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">#}
{#    <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#    <span class="sr-only">Previous</span>#}
{#  </a>#}
{#  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">#}
{#    <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#    <span class="sr-only">Next</span>#}
{#  </a>#}
{#</div>#}
<div class="info">
<div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-8">
                <div class="page-header">
                    <h1 class="header">{{ main_page.header }}</h1>
                </div>
                <div class="box">
                    <b></b><h3></h3><p id="text">
                            <script>
                                let textMessage = '{{ main_page.text }}'
                                let textElement = document.createElement('span')
                                textElement.innerHTML = textMessage
                                document.getElementById('text').innerHTML = textElement.innerText
                            </script>
                    <br></p><br><p><b></b></p>
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="{% url 'content:about' %}" class="btn btn-primary">Подробнее</a>
                        </div>
                        <div class="col-xs-8">
                            <a href="#">
                                <img src="/img/appstore.png" class="img-responsive imgStore" alt="">
                            </a>
                            <a href="#">
                                <img src="/img/googleplay.png" class="img-responsive imgStore" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4">
                <div class="page-header">
                    <h3 class="header">Контакты</h3>
                </div>
                <div class="box">
                    <p><i class="fas fa-user-circle"></i> INTERNATIONAL INTERPRISE</p>
                    <p><i class="fas fa-compass"></i> {{ contacts.address }}</p>
                    <p><i class="fas fa-map-marker"></i>  {{ contacts.location }}</p>
                    <p><i class="fas fa-phone"></i> <a href="tel:{{ contacts.phone }}">{{ contacts.phone }}</a></p>
                    <p><i class="fas fa-envelope"></i> <a href="mailto:{{ contacts.email }}">{{ contacts.email }}</a></p>
            </div>
            </div>
        </div>
                <div class="row">
                <div class="col-12">
                    <div class="page-header">
                        <h3 class="header">Рядом с нами</h3>
                    </div>
                </div>
                </div>
            <div class="row row-eq-height">

                {% for block in main_page.block_set.all %}
                <div class="col-xs-12 col-sm-6 col-md-4 advantage-item">
                    <div class="thumbnail">
                        {% if block.image %}
                        <img src="{{ block.image.url }}" class="img-responsive" alt="">
                        {% else %}
                        <img src="{% static 'content/img/empty.jpeg' %}" class="img-responsive" alt="">
                        {% endif %}

                        <div class="caption">
                            <h3>{{ block.header }}</h3>
                            <p id="block-{{ forloop.counter }}">
                                <script>
                                let textMessage_{{ forloop.counter }} = '{{ block.description }}'
                                let textElement_{{ forloop.counter }} = document.createElement('span')
                                textElement_{{ forloop.counter }}.innerHTML = textMessage_{{ forloop.counter }}
                                let element_{{ forloop.counter }} = "block-{{ forloop.counter }}"
                                console.log(element_{{ forloop.counter }})
                                document.getElementById(element_{{ forloop.counter }}).innerHTML = textElement_{{ forloop.counter }}.innerText
                            </script>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
</div>

{% endblock %}

